@model IEnumerable<ET.Models.DailyExViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="alert-info">Expense List</h1>

<p>
    <a class="btn btn-sm btn-info" asp-action="Create">Add New Expense</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.ExpenceId">Edit</a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ExpenceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
